.uploadPanel {
  border-width: 0;
  background: #f6ed69;
  padding: 18px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  min-width: 201px;
}

.uploadPanel:hover {
  background: #fff34a;
}

.closeButton {
  cursor: pointer;
  right: 0;
  position: absolute;
  top: 0;
  background: white;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.closeButton:hover {
  background: #f9f9f9;
}

.prevButton,
.nextButton {
  padding: 8px 16px; 
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 55px;
  height: 55px;
}

.prevButton img,
.nextButton img {
  margin: 0;
  padding: 0;
  width: auto;
}
